@model Library.Models.Publication

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Publication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BookId" class="control-label mt-2"></label>
                <select asp-for="BookId" class="form-control border border-dark" asp-items="ViewBag.BookId"></select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label mt-2"></label>
                <select asp-for="AuthorId" class="form-control border border-dark" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label mt-2"></label>
                <input asp-for="PublishedDate" class="form-control border border-dark" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group  mt-2">
                <input type="submit" value="Save" class="btn btn-outline-primary m-lg-2" />
                <a class=" btn btn-outline-secondary border border-dark" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
